/*Hosted Font*/
@font-face {
    font-family: Jac;
    src: url(img/Jacquard12-Regular.ttf);
}

/* Website Style*/

body {
    background-color: rgb(218, 218, 218);
    background-image: url(img/Stars.gif);
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: "Jac";
    color: rgb(208, 11, 11);
    text-align: center;
    font-size: 1000%;
    margin-top: auto;
}

/* Music Link */

a.link {
    color:rgb(89, 89, 255);
    text-decoration: none;
    font-size: 150%;
    margin-left: 50px;
}

a:hover {
    color: greenyellow;
    text-decoration: none;
}